{% extends 'base.html.twig' %}

{% block title %}Betaal index{% endblock %}

{% block body %}
    <h1>Betaal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datum</th>
                <th>Bank</th>
                <th>Bedrag</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for betaal in betaals %}
            <tr>
                <td>{{ betaal.id }}</td>
                <td>{{ betaal.datum ? betaal.datum|date('Y-m-d H:i:s T') : '' }}</td>
                <td>{{ betaal.bank }}</td>
                <td>{{ betaal.bedrag }}</td>
                <td>
                    <a href="{{ path('betaal_show', {'id': betaal.id}) }}">show</a>
                    <a href="{{ path('betaal_edit', {'id': betaal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('betaal_new') }}">Create new</a>
{% endblock %}
